@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #ff0303;
  }
  to {
    box-shadow: 0 0 10px 10px #ff5435;
  }
}


.wrapper {
  /* max-width: 200px; */
  margin-left: 80%;
  margin-top:35%; 
  z-index:0;
  filter: blur(1px);
  /* animation: glow 5s infinite alternate; */
}

  .camera {
    height:355px;
    width:390px;
    background: linear-gradient(#ff0000, #9198e5);
   
}

  .camera-filler {
    top:7%;
    left:2%;
    height:330px;
    width:360px;
    background-color:rgb(0, 202, 0);
    
}